body {
  background: linear-gradient(
    179.4deg,
    rgb(242, 209, 249) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 200ms all ease-in-out;
}

a:hover {
  text-shadow: 1px 1px 2px #a3a4e6;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: black;
  font-size: 12px;
}
