body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

a {
  text-decoration: none;
  color: #6882c9;
  font-weight: bold;
}

a:hover {
  color: #445582;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
